@font-face {
  font-family: 'League Gothic';
  src: url('/fonts/LeagueGothic.woff2') format('woff2'),
    url('/fonts/LeagueGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
