// Grid settings
$column: 44px;
$gutter: 62px;
$grid-columns: 14;
$max-width: 100%;

// Breakpoints
$md: 768px;
$lg: 1025px;
$xlg: 1480px;

$sm-max: new-breakpoint(max-width ($md - 1px));
$md-min: new-breakpoint(min-width $md);
$md-max: new-breakpoint(max-width ($lg - 1px));
$lg-min: new-breakpoint(min-width $lg);
$lg-max: new-breakpoint(max-width ($xlg - 1px));
$xlg-min: new-breakpoint(min-width $xlg);

// Visual grid for development / debugging
// $visual-grid: true;
