// Fonts
$font-heading: 'League Gothic', 'Oswald', Impact, sans-serif;
$font-body: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-quote: 'Crimson Text', serif;

// Colors
$black: #313231;
$white: #eee;
$yellow: #f8ce62;
$yellow-dark: #fabb34;
$brown: #3a3530;

// Layout
$ios-ui-height: 69px;
$ios-ui-height-md: 25px;

$container-padding: 25px;

$margins: (
  'section': 11.25vw,
  'offset': 5vw,
  'typography': 2rem,
);

// Z-index
$z-index: (
  'just-above-default': 1,
);

// btn
$btn-height: 3.2em;

// left behind tv noise
$tvNoiseWidth: 200px;
$tvNoiseHeight: 200px;
$tvNoiseSteps: 5; // Controls how many random positions are generated
$tvNoiseFps: 24; // Controls the framerate

// Typography
$html-font-size: 15px;
$html-font-size-md: 17px;
$html-font-size-lg: 20px;
