// Fonts
$font-heading: 'League Gothic', 'Oswald', Impact, sans-serif;
$font-body: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-quote: 'Crimson Text', Times, serif;

// Colors
$black: #313231;
$white: #eee;
$yellow: #f8ce62;
$yellow-dark: #fabb34;
$brown: #3a3530;
$white-transparent-border: rgba(white, 0.2);

// Layout
$ios-ui-height: 69px;
$ios-ui-height-md: 25px;

$scrollbar-width: 20px;

$container-padding: 25px;

$margins: (
  'section': 11.25vw,
  'offset': 5vw,
  'typography': 2rem,
);

// Z-index
$z-index: (
  'just-above-default': 1,
);

// btn
$btn-height: 3.2em;

// left behind tv noise
$tv-noise-width: 200px;
$tv-noise-height: 200px;
$tv-noise-steps: 5; // Controls how many random positions are generated
$tv-noise-fps: 24; // Controls the framerate

// awards carousel
$carousel-items-spacing: 10px;
$carousel-items-to-show: 3;

// Typography
$html-font-size: 15px;
$html-font-size-md: 17px;
$html-font-size-lg: 20px;
