// Fonts
$font-heading: 'League Gothic', 'Oswald', Impact, sans-serif;
$font-body: 'Roboto', 'Helvatica Neue', Helvetica, arial, sans-serif;

// Colors
$black: #313231;
$yellow: #f8ce62;
$yellow-dark: #fabb34;

// Layout
$ios-ui-height: 69px;
$ios-ui-height-md: 25px;

$container-padding: 25px;

$margins: (
  'section': 11.25vw,
  'offset': 10vw,
  'typography': 2rem,
);

// Z-index
$z-index: (
  'just-above-default': 1,
);

// Typography
$html-font-size: 15px;
$html-font-size-md: 17px;
$html-font-size-lg: 20px;
