@use 'sass:math';

.label {
  font-size: 12px;
  opacity: 0.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@include media($lg-min) {
  .label {
    font-size: math.div(14px, $html-font-size-lg) * 1rem;
  }
}
